.product-item-top {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 246px;
  background-size: cover;
}
.heart-container {
  background-color: var(--white-color);
  width: 30px;
  height: 30px;
  border-radius: 15px;
  align-self: flex-end;
  padding: 5px 5px 5px 7px;
  margin-top: 3px;
  margin-right: 3px;
}
.view-product-btn {
  background-color: var(--green-color-dark);
  color: var(--white-color);
  font-weight: 600;
  border-style: none;
  height: 36px;
  font-size: 16px;
  font-family: "Poppins";
  cursor: pointer;
}

.product-item-bottom {
  line-height: 1.8;
  margin-top: 23px;
}

.product-item-bottom h2 {
  font-weight: 500;
  font-size: 20px;
}
.sunlight-type {
  font-weight: 400;
  font-size: 14px;
  color: var(--text-gray-color-1);
}
.rating {
  font-size: 16px;
  font-weight: 500;
  color: var(--text-gray-color-2);
}
.price {
  font-weight: 600;
  color: var(--text-gray-color-3);
  font-size: 20px;
}
.old-price {
  font-size: 16px;
  font-weight: 400;
  margin-right: 16px;
  color: #5e5a5a;
  opacity: 70%;
}
.product-item-button-container {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 11px;
}
.add-to-cart button {
  background-color: transparent;
  border-style: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  color: var(--white-color);
  height: 37px;
  border-left: 1px;
}
.add-to-cart {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  background-color: var(--green-color-dark);
  border-radius: 10px;
  flex-grow: 1;
  text-align: center;
}
.buy-on-rent {
  flex-grow: 1;
}
.buy-on-rent button {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 15px;
  color: var(--green-color-text-2);
  background-color: transparent;
  border-radius: 10px;
  border: 1px solid var(--green-color-dark);
  height: 37px;
  width: 100%;
  cursor: pointer;
}
